
#about_ .mySectionInner{
    position: relative;
    min-height: 161.6rem;
    top: 4rem;
}
#about_ .background1{
    position: absolute;
    background-color: #FFEDED;
    width: 50%;
    height: 41%;
    z-index: -1;
    top: 34.2rem;
    right: 0;
}
#about_ .background2{
    position: absolute;
    position: absolute;
    background-color: #FFEDED;
    width: 50%;
    height: 41%;
    z-index: -1;
    top: 36.2rem;
    right: 0;
}
#about_ .sign{
    position: absolute;
    width: 15.3rem;
    top: 36rem;
    left: 14.4rem;
    z-index: 1;
}
#about_ .flower{
    position: absolute;
    width: 7rem;
    transform: translate(30%, 17%);
    z-index: 2;
}
#about_ h1{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    border-bottom: 0.8rem solid #FF0096;
    width: 18.2rem;
    margin: auto;
    line-height: 0.9;
    transform: translateY(33%);
}
#about_ h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
#about_ .content{

}
#about_ .content1{
    width: 100%;
}
#about_ .img1back{
    position: absolute;
    background-color: #FF0096;
    width: 36%;
    height: 7.2%;
    right: 0;
    transform: translateY(-24%);
}
#about_ .img1{
    width: 26.4rem;
    height: 31.2rem;
    background: url(/img/image.png);
    margin: 3rem auto;
    position: relative;
}
#about_ .detail1{
    font-size: 1.4rem;
    width: 26.4rem;
    margin: 3rem auto;
    line-height: 3rem;
}
#about_ .content2{
    width: 100%;
 }
#about_ .img2back{
    position: absolute;
    background-color: #FF0096;
    width: 36%;
    height: 7.2%;
    left: 0;
    transform: translateY(194%);
}
#about_ .img2{
    width: 26.4rem;
    height: 31.2rem;
    background: url(/img/image.png);
    margin: 4rem auto 5rem;
    position: relative;
}
#about_ .detail2{
    font-size: 1.4rem;
    width: 26.4rem;
    margin: 3rem auto;
    line-height: 3rem;
}
#about_ .aboutFooter{
    background-color: #FF0096;
    color: #fff;
    min-height: 13.6rem;
}
.aboutFooter p{
    font-size: 2.7rem;
    text-decoration: underline;
    position: relative;

    text-align: center;
    padding-top: 1rem;
}
 .footerSns{
    display: flex;
    margin: 2rem auto;
    width: 25rem;
}
.footerSns img{
}
footer{
display: none;
}


@media screen and (min-width: 768px) {
}