
#about_ .mySectionInner{
    position: relative;
    padding-top: 4rem;
}


#about_ .sign{
    position: absolute;
    width: 15.3rem;
    top: 44rem;
    left: 14.4rem;
    z-index: 1;
}
#about_ .flower{
    position: absolute;
    width: 7rem;
    z-index: 2;
    left: 50%;
    top: 1rem;
    transform: translateX(-14rem);
}
#about_ h1{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    border-bottom: 0.8rem solid #FF0096;
    width: 18.2rem;
    margin: auto;
    line-height: 0.9;
    transform: translateY(33%);
}
#about_ h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
#about_  .content1 .img1{
    width: 23rem;
    margin: 3.3rem auto 1.9rem;
}
#about_ .content{

}
#about_ .content1{
    width: 100%;
}
#about_ .img1back{
    position: absolute;
    background-color: #FF0096;
    width: 11.6rem;
    height: 11.6rem;
    z-index: -1;
    right: 0;
    transform: translate(-2rem -2rem);
    transform: translate(-0.9rem, -2rem);
}

#about_ .detail1 .background1{
    position: absolute;
    background-color: #FFEDED;
    width: 50%;
    height: 100%;
    z-index: -1;
    right: 0;
}
#about_ .detail2 .background2{
    position: absolute;
    background-color: #FFEDED;
    width: 50%;
    height: 100%;
    z-index: -1;
    left: 0;
}
#about_ .detail1{
position: relative;
}
#about_ .detail2{
    position: relative;
}
#about_ .detail1 h3{
    background-color: #FF0096;
    color: #FFFFFF;
    padding: 1rem;
    text-align: center;
    line-height: 1;
}
#about_ .detail2 h3{
    background-color: #FF0096;
    color: #FFFFFF;
    padding: 1.2rem;
    text-align: center;
    line-height: 1;
    font-size: 1.3rem;
}

#about_ .detail1 .history1 li{
list-style: outside;
    padding-bottom: 3rem;
}
#about_ .detail2 .history2 li{
    list-style: outside;
    padding-bottom: 3rem;
}
#about_ .detail1 .history1{
    margin: 2rem 1.7rem 0rem 4.5rem;
    font-size: 1.4rem;
    line-height: 1.7;
}
#about_ .detail2 .history2{
    margin: 2rem 1.7rem 0rem 4.5rem;
    font-size: 1.4rem;
    padding-bottom: 10rem;
    line-height: 1.7;
}


#about_ .detail2{
  position: relative;
}
#about_ .detail2 .img2{
    position: relative;
}
#about_ .detail2 .img2 .front{
position: relative;
}
#about_ .detail2 .img2 .back{
    width: 41.9rem;
    height: 36.7rem;
    position: absolute;
    top: -11rem;
    left: -5rem;
    z-index: -1;
}

.mySectionTitle{
    position: relative;
}

#about_ .img{
    position: relative;
}
/*#about_ .line1{*/
/*    position: absolute;*/
/*    height: 53.5rem;*/
/*    width: 1.6rem;*/
/*}*/

/*#about_ .line2{*/
/*    position: absolute;*/
/*    height: 58.6rem;*/
/*    width: 1.6rem;*/
/*}*/






@media screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }

    body {
        font-size: 1.2rem;
    }

    #about_ .mySectionInner{

        /*top: 8rem;*/
        padding-top: 8rem;
    }
    #about_ .background1{
        width: 47%;
        height: 26%;
        top: 60.6rem;
        left: 4.4rem;
    }
    #about_ .background2{
        width: 47%;
        height: 29%;
        top: 20.9rem;
        right: 4.4rem;
    }
    #about_ .sign{
        width: 37.4rem;
        top: 60.3rem;
        left: 44.5rem;
    }
    #about_ .flower {
        width: 15.6rem;
        /* transform: translate(211%, 15%); */
        left: 50%;
        top: 0;
        transform: translateX(-29rem);
    }

    #about_ h1{
        font-size: 8.1rem;
        width: 41.4rem;
        line-height: 1;
        /*transform: translateY(40%);*/
        border-bottom: 1rem solid #FF0096;
    }
    #about_ h2{
        font-size: 3.5rem;
        margin-top: 4rem;
    }
    #about_ .content{
display: flex;
    }
    #about_ .content1{
        width: 50%;
    }
    #about_ .contentInner{
        width: 43.8rem;
        position: relative;
    }
    #about_ .content1 .contentInner{
        margin:0 8rem 0 auto;
    }
    #about_ .content2 .contentInner{
        margin:0 auto 0 8rem;
    }
    #about_ .img1back{
        width: 36.4rem;
        height: 41.2rem;
        left: -12.2rem;
        /*transform: translateY(12%);*/
    }
    #about_ .img1{
        width: 43.8rem;
        height: 58.5rem;
        background: url(/img/image.png);
        margin: 5.65rem 0 0;
        /*transform: translate(24%, 22%);*/
    }
    #about_ .sign{
        left: 50%;
        transform: translateX(-50%);
    }
    #about_ .detail1{
        font-size: 1.2rem;
        width: 43.6rem;
        margin: 6.8rem auto 0 ;
        line-height: 2.8rem;
    }
    #about_ .content2{
        width: 50%;
    }
    #about_ .img2back{
        width: 33.2rem;
        height:35.3rem;
        left: auto;
        right: -13.2rem;
        top: 31.4rem;
        /*transform: translateY(104%);*/
}
    #about_ .img2{
        width: 41.9rem;
        height: 53.4rem;
        background: url(/img/image.png);
        margin: 0rem auto 5rem;
        /*transform: translate(150%, -156%);*/
    }
    #about_ .detail2{
        font-size: 1.2rem;
        width: 43.6rem;
        margin: 6.8rem auto 0;
        line-height: 2.8rem;
    }
    #about_ .aboutFooter{
        background-color: #FF0096;
        color: #fff;
        min-height: 13.6rem;
    }
    .aboutFooter p{
        font-size: 2.7rem;
        text-decoration: underline;
        position: relative;

        text-align: center;
        padding-top: 1rem;
    }
    .footerSns{
        display: flex;
        margin: 2rem auto;
        width: 25rem;
    }
}