
#event_ .mySectionInner{
    position: relative;
    padding-top: 4rem;
}

#event_ .mySectionTitle{
    position: relative;
}
#event_ .flower{
    position: absolute;
    width: 7rem;
    z-index: 2;
    left: 50%;
    top: 1rem;
    transform: translateX(-14rem);
}
#event_ .opening{
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
    width: 26.2rem;
    line-height: 1.9;
    margin: 4.6rem auto 3.5rem;
}
#event_ h1{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    border-bottom: 0.8rem solid #FF0096;
    width: 18.2rem;
    margin: auto;
    line-height: 0.9;
    transform: translateY(33%);
}
#event_ h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
#event_ .content{

}
#event_ .content1{
    width: 100%;
}
#event_ .img1back1{
    background-color: #FF0096;
    width: 9.2rem;
    height: 9.2rem;
    position: absolute;
    margin-left: 5rem;
    transform: translateY(-15%);
}
#event_ .circles img{
    width: 1rem;
    height: 1rem;
    margin-right: 1.1rem;
}
#event_ .circles{
    display: flex;
    width: 13.6rem;
    margin: 3.8rem auto 2.8rem;
}
#event_ .arrowL{
    position: absolute;
    width: 2.8rem;
    height: 6.3rem;
    top: 50.6rem;
    margin-left: 1rem;
}
#event_ .arrowR{
    position: absolute;
    width: 2.8rem;
    height: 6.3rem;
    top: 50.5rem;
    right: 0;
    margin-right: 1rem;
}
#event_ .detail1{
    font-size: 1.2rem;
    width: 25.4rem;
    margin: 2rem auto 3.9rem;
    line-height: 1.9;
}
#event_ .content1 .img1{
    width: 19.6rem;
    margin: 3rem auto 3.8rem;
    position: relative
}
#event__ .detail2 .img2{
    position: relative;
}
#event_ .img2 .front{
    position: relative;
    margin-bottom: 11.3rem;
}
#event_ .img2 .back{
    width: 40.8rem;
    height: 36.7rem;
    position: absolute;
    top: 88rem;
    left: -5rem;
    z-index: -1;
}



/*sakurako-near*/
#near_ .mySectionInner{
    position: relative;
}

#near_ .nearDay{
    position: relative;
    width: 90%;
    border-bottom: 0.1rem solid #707070;
    margin: 3rem auto 0rem;
}
#near_ .nearDay h2{
    background-color: #ff0096;
    color: #fff;
    width: 18.6rem;
    font-size: 2.7rem;
    line-height: 1;
    padding: 1rem 3rem;
    margin-left: 9.2rem;
}
#near_ .schedule{
    position: relative;
}
#near_ .schedule li{
    padding: 2rem;
}
#near_ .schedule  li:nth-of-type(2){
    background-color: #FFEDED;
}
#near_ .schedule1 time{
font-size: 1.5rem;
    color: #707070;
}
#near_ .schedule h3{
    font-weight: bold;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}
#near_ .schedule .summary{
    font-size: 1.2rem;
}
#near_ .schedule .apply{
    font-size: 1.2rem;
}



/*sakurako-log*/
#log_ .mySectionInner{
    min-height: 45.2rem;
    position: relative;
}
#log_ .achievement{
    position: relative;
    width: 90%;
    border-bottom: 0.1rem solid #707070;
    margin: 3rem auto 0rem;
}
#log_ .achievement h2{
    background-color: #ff0096;
    color: #fff;
    width: 14.1rem;
    font-size: 2.7rem;
    line-height: 1;
    padding: 1rem 4rem;
    margin-left: 1.4rem;
}
#log_ .logList{
    position: absolute;
    width: 100%;
}

#log_ li{
    padding: 0.5rem 2rem 0.5rem;
}
#log_ .logList  li:nth-child(even){
    background-color: #FFEDED;
}
#log_ h3{
    font-weight: bold;
    font-size: 1.3rem;
    color: #707070;
}
#log_ p{
    font-size: 1.2rem;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    #event_ .mySectionInner{
        min-height: 154rem;
        top: 8rem;
    }

    #event_ .flower{
        width: 15.6rem;
    }
    #event_ h1{
        font-size: 8.1rem;
        width: 41.4rem;
        line-height: 1;
        transform: translateY(40%);
        border-bottom: 1rem solid #FF0096;
    }
    #event_ h2{
        font-size: 3.5rem;
        margin-top: 4rem;
    }
    #event_ .content{

    }
    #event_ .content1{
        width: 100%;
    }
    #event_ .img1back1{
        width: 15.6rem;
        height: 15.6rem;
        margin-left: 12.5rem;
        transform: translateY(-21%);
    }
    #event_ .img1back2{
        width: 15.6rem;
        height: 15.6rem;
        margin-right: 60.8rem;
        transform: translateY(308%);
    }

    #event_ .detail1{
        width: 43.6rem;
        height: 30rem;
        margin: 4rem 5.8rem 4rem auto;
        transform: translateY(-130%)
    }
    #event_ .content1 .img1{
        width: 47.8rem;
        height: 60.4rem;
        margin: 8.8rem auto 8.3rem 16.2rem;
    }
    #event_ .content2{
        position: relative;
        top: -30rem;
    }
    #event_ .img2back{
        width: 61.5rem;
        height: 39.6rem;
        margin: -1rem auto 1rem 61.8rem;
    }
    #event_ .img2{
        width: 57.8rem;
        margin: 7rem 5.8rem 8rem auto;
        height: 40.9rem;
        border: 1rem solid #fff;
    }
    #event_ .detail2{
        width: 43.6rem;
        height: 24.3rem;
        top: -40rem;
        position: relative;
        margin: 2rem auto 2rem 9rem;
    }



    /*sakurako-near*/
    #near_ .mySectionInner{
        min-height: 65.7rem;
        top: -52rem;
    }

    #near_ .nearDay{
        border-bottom: 0.2rem solid #707070;
        margin: 6rem auto 0rem;
    }
    #near_ .nearDay h2{
        width: 37.7rem;
        font-size: 5rem;
        text-align: center;
        padding: 1.5rem 3rem;
        margin-left: 70.5rem;
    }

    #near_ .schedule li{
        padding: 8.2rem 10rem;
        font-size: 2.5rem;
    }
    #near_ .schedule  li:nth-of-type(2){
        background-color: #FFEDED;
    }
    #near_ .schedule1 time{
        font-size: 1.5rem;
        color: #707070;
    }
    #near_ .schedule h3{
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }
    #near_ .schedule .summary{
        font-size: 2rem;
    }
    #near_ .schedule .apply{
        font-size: 2rem;
    }



    /*sakurako-log*/
    #log_ .mySectionInner{
        min-height: 70rem;
        top: -38rem;
    }
    #log_ .achievement{
        border-bottom: 0.2rem solid #707070;
}
#log_ .achievement h2{
    width: 27.3rem;
    font-size: 5rem;
    text-align: center;
    padding: 1.5rem 4rem;
}
#log_ .logList{
position: absolute;
width: 100%;
}

#log_ li{
    padding: 3rem 15.2rem 2.5rem;
}
#log_ .logList  li:nth-child(even){
background-color: #FFEDED;
}
#log_ h3{
    font-size: 3rem;
}
#log_ p{
    font-size: 2.2rem;
    line-height: 1.5;
}

}