.slide,
.slide li,
.slick-list,
.slick-slider .slick-track,
.slick-track:before, .slick-track:after,
.slick-initialized .slick-slide,
.slide img,
.slick-slide {
    user-select:none !important;
    -webkit-user-select:none !important;
    -ms-user-select: none !important;
    -moz-user-select:none !important;
    -khtml-user-select:none !important;
    -webkit-user-drag:none !important;
    -khtml-user-drag:none !important;
    pointer-events: none !important;
}

.slide li {
    position: relative;
    height: 180px;
}

.slide li span {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    padding: 10px 15px;
    font-weight: bold;
}

.thumbnail {
    margin: 0 0 20px;
}

.slide,
.thumbnailThumb{
    margin: 0 0 30px 0;
}

/*.thumbnail-thumb .myImg {*/
    /*!* min-height: 90px; *!*/
    /*max-height: 90px;*/
    /*max-width: 180px;*/
/*}*/

.thumbnailThumb .slick-slide {
    max-width: calc(100%/3);
    width: calc(100%/3) !important;
}

.slick-track {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}