/*************全ページ共通のCSS*************/
/*************初期設定*************/
html {
    font-size: 10px;
    font-family: sans-serif;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 1.4rem;
    color: #000;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }

    body {
        font-size: 1.4rem;
    }
}

.ja {
    /*font-family: 'Noto-Serif','Noto Serif', serif !important;*/
    /*font-family: 'Noto Serif', "Yu Mincho Pr6";*/
    font-family: 'Noto Serif JP', serif;
}

.en {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

h1,h2,h3 ,h4 {
    font-weight: inherit;
}

.paragraph {
    line-height: 1.6;
}

.c {
    color: #A7C9D6;
    /*color: #9efffc;*/
}

.logo {
    width: 76px;
    height: 60px;
    background: url(/img/logo.svg) center center no-repeat;
    background-size: contain;
}

.myGlobalNav {
    background: #FFF;
}

.myGlobalNav .inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.myGlobalNav li {
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.myGlobalNav li:last-of-type {
    margin-bottom: 0;
}

.myMenuContainer {
    width: 100%;
}

.myImg {
    padding-top: 55%;
    overflow: hidden;
    height: 0;
}

@media screen and (min-width: 768px) {

    .logo {
        width: 100px;
        height: 65px;
        background-size: contain;
    }

    .header .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .myGlobalNav ul {
        display: flex;
    }

    .myGlobalNav li {
        display: block;
        line-height: 1;
        font-size: 1.4rem;
        margin: 0 0 0 20px;
        padding: 0;
        border-bottom: 0;
        font-weight: normal;
    }
}

/*************追加分*************/
/*デザイン系*/
html {
    font-size: 3.125vw;
}
.myBack {
    background: #B4A7D6;
}

.myBack2 {
    background: #fff;
}

/*全体共有パーツ*/
.inner {
    padding: 0 2rem;
}

/*sakurako-mv*/
#mv .mySectionInner{
    min-height: 54.3rem;
    background: url("/img/MV_background.jpg") center center;
    background-size: cover;
    position: relative;
}

#mv .myTag{
    width: 40.8rem;
    position: absolute;
    top: -19.6rem;
    left: -17.5rem;
}
#mv .myTitle h1{
    font-size: 2.1rem;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    line-height: 1.2;

}
#mv .myTitle{
    position: absolute;
    top:26.2rem;
    left: 2.3rem;
}

#mv .myTitle span{
    display: block;
    line-height: 0.9;
}

#mv .myTitle .myTitle2 span{
    display: inline;
}

#mv .myTitle .myTitle2 .myTitle2-1{
    font-size: 5.4rem;
}

#mv .myTitle .myTitle2 .myTitle2-2 {
    font-size: 10.8rem;
}

#mv .myFooter {
    color: #ffffff;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    font-size: 2.5rem;
    line-height: 1.3;
}

#mv .myFooter .myFooterInner {
    position: relative;
    width: 100%;
    height: 100%;
}

#mv .myFooter .myFooterBack {
    position: relative;
    width: 100%;
    height: 100%;
}

#mv .myFooter .myFooterBack .myFooterBackBox{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    width: 32rem;
    height: 13rem;
    background-color: rgba(177,191,116,0.8)

}

#mv .myFooter .myFooterInner .myView img{
    position: absolute;
    bottom: 3.6rem;
    right: -3.0rem;
    width: 32.5rem;
    height: 54.5rem;
}

#mv .myFooter .myFooterInner  p{
    position: absolute;
    bottom: 1.8rem;
    right: 3.9rem;
    width: 26rem;
    height: 9.4rem;
}

/*Sakurako-intro*/
#intro .mySectionInner{
    min-height: 43.6rem;
    background: url("/img/Intro-background.jpg") center center;
    background-size: cover;
    position: relative;
}

#intro .myIntroTitleBack{
    position: absolute;
    left:-3.8rem;
    top: 0rem;
    width: 48.9rem;
    height: 23.6rem;

}
#intro .myIntroTitle{
    position: absolute;
    top: 1.65rem;
    left: 0.76rem;
}
#intro .myIntroTitle h2{
    color: #ffffff;
    transform: rotate(-7deg);
    font-size: 2.1rem;
    font-weight: bold;
}

#intro .myIntroTitle span{
    display: inline;
}

#intro .myIntroTitle .myIntroTitle2 {
    font-size: 3.1rem;
}

#intro .myIntroPhrase{
    position: absolute;
    top: 8.2rem;
    left: 13.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    background-color: #ffffff;
    padding: 1rem;
}

.myIntroDetailBack{
    position: absolute;
    top: 17.5rem;
    left: 16rem;
    width: 14.3rem;
    height: 14.3rem;
}

#intro .myIntroDetail{
    position: absolute;
    top: 22rem;
    left: 18.4rem;
    text-align: center;
    width: 9.6rem;
    line-height: 1.3;

}

#intro .myIntroDetail h3{
    font-size: 0.8rem;
}

#intro .myIntroDetail p{
    font-size: 0.5rem;
    display: block;
}

#intro .myIntroModel{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    height: 32.3rem;
    width: 34.6rem;

}

@media screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }

    body {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    /*デザイン*/
    .inner {
        padding: 0 80px;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape){
    /*デザイン*/
    .inner {
        padding: 0 160px;
    }

}
