/*************全ページ共通のCSS*************/
/*************初期設定*************/
html {
    font-size: 10px;
    font-family: sans-serif;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 1.4rem;
    color: #000;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }

    body {
        font-size: 1.4rem;
    }
}

.ja {
    /*font-family: 'Noto-Serif','Noto Serif', serif !important;*/
    /*font-family: 'Noto Serif', "Yu Mincho Pr6";*/
    font-family: 'Noto Serif JP', serif;
}

.en {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
h1, h2, h3, h4 {
    font-weight: inherit;
}

.paragraph {
    line-height: 1.6;
}

.c {
    color: #A7C9D6;
    /*color: #9efffc;*/
}

.logo {
    width: 76px;
    height: 60px;
    background: url(/img/logo.svg) center center no-repeat;
    background-size: contain;
}

.myGlobalNav {
    background: #FFF;
}

.myGlobalNav .inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.myGlobalNav li {
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.myGlobalNav li:last-of-type {
    margin-bottom: 0;
}

.myMenuContainer {
    width: 100%;
}

.myImg {
    padding-top: 55%;
    overflow: hidden;
    height: 0;
}

@media screen and (min-width: 768px) {

    .logo {
        width: 100px;
        height: 65px;
        background-size: contain;
    }

    .header .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .myGlobalNav ul {
        /*display: flex;*/
    }

    .myGlobalNav li {
        display: block;
        line-height: 1;
        font-size: 1.4rem;
        margin: 0 0 0 20px;
        padding: 0;
        border-bottom: 0;
        font-weight: normal;
    }
}

/*************追加分*************/
/*デザイン系*/
html {
    font-size: 3.125vw;
}

.myBack {
    background: rgba(255, 255, 255, 0.8);
}

.myBack2 {
    background: #fff;
}

/*全体共有パーツ*/
.inner {
    padding: 0 2rem;
}


/*header*/
.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    width: 5.5rem;
    height: 4rem;
    transition: 0.5s;
}

.hamburger span {
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background: #707070;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 1;
    transition: 0.25s;
}

.hamburger span:nth-of-type(1) {
    top: calc(50% - 1.1rem);
}

.hamburger span:nth-of-type(2) {
    top: 50%;
}

.hamburger span:nth-of-type(3) {
    top: calc(50% + 1.1rem);
}

.hamburger.show span:nth-of-type(1),
.hamburger.show span:nth-of-type(3) {
    top: 50%;
}

.hamburger.show span:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(315deg);
}

.hamburger.show span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.show span:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(-315deg);
}

/*myGlobalNav*/
.myGlobalNav.mySection {
    padding: 5rem 0 0;
}

.myGlobalNav ul li {
    font-size: 1.6rem;
    list-style: outside;
    margin: 0;
    padding: 0.5rem 0 0 0;
}

.myGlobalNav ul li:last-of-type {
    margin: 0 0 0;
}


.topHeader {
    height: 4.1rem;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(112, 112, 112, 0.1);
}

.topLogo {
    margin: auto;
    width: 10.4rem;
    height: 4rem;
}

.topLogo img {
    top: -0.2rem;
    position: relative;
}

.forMember {
    margin-right: 0;
    margin-top: 0;
    background-color: rgba(255, 0, 150, 1);
    color: #FFFFFF;
    position: relative;
    height: 4.1rem;
    width: auto;
    transform: translate(23.2rem, -4rem);
    font-size: 1rem;
    padding: 1.5rem 0.9rem;
}
/*sakurako-menu*/
#menu .mySectionInner{
    position: relative;
}
#menu .menuSideBar{
    width: 4rem;
    position: absolute;
    height: 100%;
}
#menu .mySectionTitle{
    margin: 4rem auto 0 3rem;
    color: #FF0096;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
#menu .en{
    color: #707070;
    margin: 0rem 2.2rem 0 7.4rem;
    line-height: 1;
}
#menu .en .english{
    font-family: Helvetica Neue;
    font-size: 2.7rem;
    font-weight: 100;
    border-top: 0.1rem solid #FFEDED;
}
#menu li:nth-of-type(7){
    border-bottom: 0.1rem solid #FFEDED;
    padding-bottom: 0.5rem;
}
#menu .en .japanese{
    color: #FF0096;
    font-size: 1.2rem;
    text-align: right;
    margin-top: 1rem;
}
#menu .pic .pc{
    display: none;
}
#menu .menuIcon{
    display: flex;
    margin: 3.3rem auto 0 7.1rem;
    width: 23rem;
}
#menu .menuIcon a{
    width: 7rem;
    padding-right: 1rem;
    padding-left: 0.5rem;
}
#menu .copyright{
    color: #FF0096;
    font-size: 1.1rem;
    width: 18rem;
    position: relative;
    margin: 1rem auto 1rem 9rem;
}
/*sakurako-mv*/
#mv .mySectionInner {
    font-size: 1.2rem;
    text-align: right;
    margin-top: 4rem;
}

#mv .aboveMv h1 {
    text-align: center;
    font-size: 1.4rem;
    padding-top: 2.45rem;
    color: #FF0096;
}

#mv .mainVisual .mvPic .spShigeko {
    width: 26.3rem;
    margin: 2.6rem auto 0;
    position: relative;
    border: 0.5rem solid #FF0096;
}

#mv .mainVisual .mvPic .pcShigeko {
    display: none;
}

#mv .BorkShigeko {
    background: url(/img/top_frame.svg) center top no-repeat;
    background-size: contain;
    height: 39.5rem;
    position: relative;
    margin: 1.9rem auto 1.1rem;
}



#mv .BorkShigeko h2 {
    text-align: center;
    line-height: 1;
    padding-top: 0.8rem;
    font-size: 3.9rem;
    color: #FF0096;
}

#mv .BorkShigeko p {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2.8rem;
    line-height: 1;
}

#mv .BorkShigeko span {
    font-size: 1.6rem;
    color: #FF0096;
}

#mv .BorkShigeko .job {
    font-size: 1.2rem;
    text-align: center;
    margin: 1.9rem auto 2.7rem;
    line-height: 1.7;
    padding-bottom: 1.9rem;
    border-bottom: 0.1rem solid #FF0096;
    width: 24.6rem;
}

#mv .BorkShigeko .BorkShigekoKeyword span {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1;
    display: block;
    padding-bottom: 2.4rem;
    color: black;
}

/*sakurako-why*/
#why .mySectionInner {
    position: relative;
}

#why .mySectionBack {
    z-index: -1;
    background-color: #FFEDED;
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
}


#why  .fukidashi{
    position: relative;
    width: 24rem;
    margin: auto;
    top: 1.7rem;
}

#why .inFukidashi {
    position: relative;
    top: -8.5rem;
    text-align: center;
    font-size: 1.3rem;
    color: #707070;
}

#why .whyShigeko h3 {
    font-size: 1.9rem;
}

#why .whyShigeko span {
    color: #FF0096;
}

#why .whyLetter {
    position: relative;
    font-size: 1.1rem;
    width: 27.7rem;
    margin: auto;
    line-height: 2;
}

#why .happyLife {
    color: #FF0096;
    position: relative;
    margin: 2rem auto 0.6rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 27.7rem;
}
#why .shigekoLogo .logo{
    height: 7.4rem;
    position: relative;
    margin: auto;
    width: 28.7rem;
}

#why .shigekoLogo .line{
    width: 28rem;
    margin: 0.5rem auto 3.1rem;
}

#why .messageMovie {
    background: url("/img/image.png");
    position: relative;
    width: 26.3rem;
    height: 19.4rem;
    margin: auto;
}

#why .messageMovieP {
    color: #FFFFFF;
    font-size: 1.2rem;
    position: relative;
    margin-left: 19.2rem;
}

#why .messageMoveBack {
    bottom: 0;
    background-color: #FF0096;
    width: 100%;
    position: absolute;
    height: 13.6rem;
}

/*sakurako-registration*/
#registration .mySectionInner {
    position: relative;
}

#registration .registrationTitle {
    background-color: #FF0096;
    position: relative;
    width: 25.7rem;
    font-size: 1.9rem;
    padding: 0.7rem;
    color: #ffff;
    margin: 3.1rem auto 1.7rem;
    text-align: center;
}
#registration .registrationTitle p{
font-size: 1rem;
}
#registration .content1back {
    position: absolute;
    background-color: #FFEDED;
    width: 64%;
    height: 24.2rem;
    right: 0;
    z-index: -1;
}

#registration .content1 {
    position: relative;
}

#registration .Content1Title{
    position: relative;
}
#registration .Content1Title .font01{
    position: absolute;
    width: 5.4rem;
    left: 50%;
    top: 1.1rem;
    transform: translateX(-14rem);
}
#registration .content1 span{
    color: #FF0096;
}
#registration .Content1Title h2{
    font-weight: bold;
    font-family: Helvetica Neue;
    font-size: 3.1rem;
    margin: 0rem auto 0rem 10rem;
}
#registration .Content1Title rt{
    font-weight: normal;
    font-size: 1.5rem;
    padding-left: 2rem;
    letter-spacing: -2.3rem;
    font-family: sans-serif;
}
#registration .content1 h3{
    font-size: 1.3rem;
    width: 27.5rem;
    margin: 1.2rem auto 1.9rem;
    font-weight: bold;
}
#registration .content1 p{
    background-color: #FFEDED;
    width: 100%;
    font-size: 1rem;
    padding: 3.2rem 2rem;
    line-height: 1.8;
}


#registration .content2 {
    position: relative;
}
#registration .Content2Title .font02{
    position: absolute;
    width: 5.4rem;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-14rem);
}
#registration .content2 span{
    color: #FF0096;
}
#registration .Content2Title h2{
    line-height: 1.2;
    font-weight: bold;
    font-family: Helvetica Neue;
    font-size: 2.5rem;
    /* text-align: center; */
    margin: 3.4rem auto 1.7rem 10rem;
}
#registration .Content2Title rt{
    font-weight: normal;
    font-size: 1.4rem;
    padding-left: 1rem;
    letter-spacing: -1.8rem;
    font-family: sans-serif;
}

#registration .content2 p{
    background-color: #FFEDED;
    width: 100%;
    font-size: 1rem;
    padding: 3.2rem 2rem;
    line-height: 1.8;
}


#registration .content3 {
    position: relative;
}
#registration .Content3Title .font03{
    position: absolute;
    width: 5.4rem;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-14rem);
}
#registration .content3 span{
    color: #FF0096;
}
#registration .Content3Title h2{
    line-height: 1.2;
    font-weight: bold;
    font-family: Helvetica Neue;
    font-size:3.1rem;
    /* text-align: center; */
    margin: 3.4rem auto 1.7rem 10rem;
}
#registration .Content3Title rt{
    font-weight: normal;
    font-size: 1.4rem;
    padding-left: 2rem;
    letter-spacing: -3.8rem;
    font-family: sans-serif;
}

#registration .content3 p{
    background-color: #FFEDED;
    width: 100%;
    font-size: 1rem;
    padding: 3.2rem 2rem;
    line-height: 2.5;
}

#registration .registrationFoot {
    display: flex;
    color: #ffff;
    text-align: center;
}

#registration .terms {
    background-color: #FF0096;
    width: 50%;
    padding: 2.9rem 0.5rem;
}

#registration .terms p {
    font-size: 2.7rem;
}

#registration .terms span {
    display: block;
    font-size: 1.5rem;
}

#registration .register {
    background-color: #FF0096;
    width: 50%;
    padding: 2.9rem 0.5rem;
    margin-left: 0.1rem;
}

#registration .register p {
    font-size: 2.7rem;
}

#registration .register span {
    display: block;
    font-size: 1.5rem;
}


/*sakurako-media*/
#media .mySectionInner {
    position: relative;
    margin-top: 3rem;
}

#media .mediaBack {
    position: absolute;
    z-index: -1;
}

#media .rose {
    width: 28.6rem;
    position: relative;
    margin: 0 auto 5rem;
}

#media .flower {
    width: 7rem;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0rem;
    transform: translateX(-14rem);
}

#media h1{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 4rem;
    width: 18.2rem;
    line-height: 0.9;
    text-align: center;
    margin: auto;
    border-bottom: 0.8rem solid #FF0096;
    transform: translateY(12%);
}
#media h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}
#media .mediaContents {
    margin-top: 3rem;
    letter-spacing: 0.1rem;
}
#media .newsPaper {

}
#media .newsPaper h3{
    line-height: 1;
    font-family: Helvetica Neue;
    font-size: 1.5rem;
    padding: 0.7rem 1.6rem;
    background-color: #FFEDED;
    border-bottom: 0.1rem solid #FF0096;
    border-top: 0.1rem solid #FF0096;
}
#media .newsPaper p{
    font-size: 1rem;
    width: 28.2rem;
    line-height: 1.7;
    margin: 0.7rem auto;
}
#media .mediaContents {
    margin-top: 3rem;
    letter-spacing: 0.1rem;
}
#media .online {

}
#media .online h3{
    line-height: 1;
    font-family: Helvetica Neue;
    font-size: 1.5rem;
    padding: 0.7rem 1.6rem;
    background-color: #FFEDED;
    border-bottom: 0.1rem solid #FF0096;
    border-top: 0.1rem solid #FF0096;
}
#media .online p{
    font-size: 1rem;
    width: 27.4rem;
    margin: 0.7rem auto;
    line-height: 1.7;
}
#media .magazine {

}
#media .magazine h3{
    line-height: 1;
    font-family: Helvetica Neue;
    font-size: 1.5rem;
    padding: 0.7rem 1.6rem;
    background-color: #FFEDED;
    border-bottom: 0.1rem solid #FF0096;
    border-top: 0.1rem solid #FF0096;
}
#media .magazine p{
    font-size: 1rem;
    width: 27.4rem;
    margin: 0.7rem auto;
    line-height: 1.7;
}
#media .tvRadio {

}
#media .tvRadio h3{
    line-height: 1;
    font-family: Helvetica Neue;
    font-size: 1.5rem;
    padding: 0.7rem 1.6rem;
    background-color: #FFEDED;
    border-bottom: 0.1rem solid #FF0096;
    border-top: 0.1rem solid #FF0096;
}
#media .tvRadio p{
    font-size: 1rem;
    width: 27.4rem;
    margin: 0.7rem auto;
    line-height: 1.7;
}
#media .mediaButton {
    background-color: #FF0096;
    color: #ffff;
    font-size: 2.3rem;
    padding: 0.5rem;
    line-height: 1;
    text-align: center;
    width: 13.8rem;
    margin: 3rem auto 0;
}


/*sakurako-press*/
#press .mySectionInner {
    position: relative;
}

#press .flower {
    width: 7rem;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0rem;
    transform: translateX(-13.5rem);
}

#press h1{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 4rem;
    width: 18.2rem;
    line-height: 1;
    text-align: center;
    margin: auto;
    border-bottom: 0.8rem solid #FF0096;
    transform: translateY(12%);
}
#press h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

#press .contentNews{
    background-color: #FFEDED;
    padding-top: 2rem;
    padding-bottom: 2.6rem;
    margin-top: 3rem;
}
#press .newsTitle h2{
    font-family: Helvetica Neue;
    font-size: 2.7rem;
    position: relative;
    padding: 0.4rem;
    text-align: center;
    width: 10.7rem;
    line-height: 1;
    margin: auto;
    color: #FFFFFF;
    background-color: #FF0096;
}

#press .newsContents h3 {
    font-size: 1.4rem;
    width: 25.6rem;
    margin: 2.8rem auto 1.3rem;
}

#press .newsContents p {
    font-size: 1.1rem;
    width: 25.6rem;
    margin: auto;
}

#press .newsMore {
    text-align: center;
    line-height: 1;
    margin: 2rem;
    font-size: 1.4rem;
    text-decoration: underline;
}


/*sakurako-contact*/

#press .contentContact{
    margin-top: 3.8rem;
}
#press .contactTitle h2{
    font-family: Helvetica Neue;
    font-size: 2.7rem;
    position: relative;
    padding: 0.5rem;
    text-align: center;
    width: 13.9rem;
    line-height: 1;
    margin: auto;
    color: #FFFFFF;
    background-color: #FF0096;
}

#press .contactButton {
    font-family: Helvetica Neue;
    background: url(/img/contact-button.png);
    text-align: center;
    width: 24.1rem;
    font-size: 1.5rem;
    padding: 1rem 2.2rem;
    margin: 2.8rem auto 3.8rem;
    border: 1px solid #FF0096;
    position: relative;
}


/*footer*/
footer {
    background-color: #FF0096;
    color: #FFFFFF;
    font-family: Helvetica Neue;
}

.footerLogo {
    width: 12.9rem;
    margin: auto;
}

.footerSns {
    display: flex;
    margin: 2rem auto;
    width: 25rem;
}

.footerSns img {
    width: 6.5rem;
    padding-right: 2rem;
    padding-left: 0.5rem;
}

.footerSns a:nth-child(4) {
    padding-top: 0.5rem;
}

.footerMenu {
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
}

.top {
    font-size: 1.5rem;
    text-decoration: underline;
}

.footerMenu1 {
    display: flex;
    padding: 1rem 4rem 0.5rem 4rem;
}

.footerMenu2 {
    display: flex;
    padding: 0rem 2rem 0;
}

.member {
    width: 200%;
}

.copyRight {
    text-align: center;
    margin-top: 3rem;
    font-family: sans-serif;
    font-size: 1.2rem;
}


@media screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }

    body {
        font-size: 1.2rem;
    }

    /*header*/
    .hamburger {
        width: 10.5rem;
        height: 8rem;
    }

    .hamburger span {
        position: absolute;
        width: 5rem;
        height: 0.2rem;
        background: #707070;
        transform: translate(-50%, -50%);
        left: 50%;
        opacity: 1;
        transition: 0.25s;
    }

    .topHeader {

        height: 8rem;
        background: rgba(255, 255, 255, 0.5);
        border-bottom: solid 1px rgba(112, 112, 112, 0.1);
    }

    .topLogo {
        margin: auto;
        width: 20.8rem;
        height: 8rem;
    }

    .forMember {
        height: 8rem;
        width: 27%;
        transform: translate(271%, -100%);
        font-size: 2.5rem;
        text-align: center;
        padding: 2.5rem 1.5rem;
    }

    #menu .menuSideBar {
        width: 7.1rem;
    }
    #menu .mySectionTitle {
        margin: 8rem auto 0 7.1rem;
        padding-top: 2.2rem;
        line-height: 1;
        padding-bottom: 6.4rem;
        font-size: 3rem;
    }
    #menu .en {
        margin: 0rem 10.2rem 0 56.1rem;
    }
    #menu .en .english {
        font-size: 4.3rem;
        border-top: 0.2rem solid #FFEDED;
        padding-left: 5.65rem;
    }
    .myGlobalNav ul li {
        font-size: 2.5rem;
        padding: 1rem 0 0 0;
    }
    #menu .pic .pc {
        width: 39rem;
        height: 44rem;
        position: absolute;
        margin: 14.2rem auto 23.7rem 12.9rem;
    }
    #menu .en .japanese {
        padding-right: 3.2rem;
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    #menu .menuIcon {
        margin: 0rem auto 0 14.5rem;
        width: 39.1rem;
        top: -10rem;
        position: relative;
    }
    #menu .menuIcon a {
        width: 10rem;
        padding-right: 3.4rem;
        padding-left: 0;
    }
    #menu .copyright {
        font-size: 2rem;
        width: 33.6rem;
        top: -6rem;
        margin: 0rem auto 3rem 15.7rem;
    }
    /*sakurako-mv*/
    #mv .mySectionInner {
        margin-top: 8rem;
    }

    #mv .aboveMv h1 {
        font-size: 4rem;
        padding-top: 5.65rem;
    }

    #mv .mainVisual .mvPic .pcShigeko {
        width: 101rem;
        height: 79.4rem;
        margin: 4.7rem auto 3.8rem;
        border: 1rem solid #FF0096;
        position: relative;
        display: block;
    }

    #mv .mainVisual .mvPic .spShigeko {
        display: none;
    }

    #mv .BorkShigeko {
        background: url(/img/top_frame_pc.png) center top no-repeat;
        background-size: contain;
        height: 119.1rem;
        margin: 0rem;
    }

    #mv .BorkShigeko h2 {
        margin-top: 3.5rem;
        padding-top: 0;
        font-size: 13rem;
    }


    #mv .BorkShigeko .job {
        font-size: 3.2rem;
        margin: 4.7rem auto 9.2rem;
        line-height: 1.7;
        padding-bottom: 3.1rem;
        border-bottom: 0.3rem solid #FF0096;
        width: 69.2rem;
    }
    #mv .BorkShigeko .BorkShigekoKeyword span {
        font-size: 3.2rem;
        text-align: center;
        line-height: 1;
        display: block;
        padding-bottom: 6.6rem;
        color: black;
    }
#mv .BorkShigeko p {
    font-size: 4.6rem;
    padding-top: 9.4rem;
}
    #mv .BorkShigeko span {
        font-size: 6.2rem;
    }

    /*sakurako-why*/
    #why .mySectionInner {

    }

    #why .whyShigeko h3 {
        font-size: 5.4rem;
    }
    #why .inFukidashi {

        top: -23.5rem;

        font-size: 3.7rem;

    }
    #why .whyShigeko {

    }

    #why .fukidashi {
        width: 73.1rem;
        top: 6.6rem;
    }
    #why .shigekoLogo .line {
        width: 115.7rem;
        margin: 0rem auto 7.8rem;
    }
    #why .shigekoLogo .logo {
        height: 17.3rem;
        position: relative;
        margin: auto;
        width: 58.7rem;
    }
    #why .whyLetter {
        font-size: 1.5rem;
        margin-top: 0;
        width: 73rem;
        line-height: 2.3;
        letter-spacing: 0.4rem;
    }

    #why .happyLife {
        margin-top: 7.5rem;
        margin-bottom: 2.5rem;
        font-size: 2.4rem;
        line-height: 2;
        width: 73.3rem;
    }

    #why .happyLife img {
        margin-top: 3rem;
    }

    #why .messageMovie {
        width: 90rem;
        height: 61.1rem;
    }

    #why .messageMovieP {
        font-size: 3rem;
        padding-bottom: 4rem;
        margin: 2rem auto 0 87.2rem;
    }



    #why .messageMoveBack {
        height: 40.8rem;
    }


    /*sakurako-registration*/
    #registration .registrationTitle {
        width: 83rem;
        font-size: 5rem;
        padding: 1.5rem;
        /* margin-top: 7.3rem; */
        margin: 7.3rem auto 8.6rem;
    }
    #registration .registrationTitle p {
        font-size: 3rem;
        line-height: 1;
    }
    #registration .Content1Title .font01 {
        width: 16.1rem;
        transform: translateX(-42rem);
    }
    #registration .content1 rt {
        letter-spacing: -4.5rem;
        padding-left: 3rem;
        font-size: 2.5rem;
    }
    #registration .content1 h3 {
        font-size: 3.7rem;
        width: 81.1rem;
        margin: 2.2rem auto;
    }
    #registration .Content1Title h2 {
        font-weight: bold;
        font-family: Helvetica Neue;
        font-size: 7.6rem;
        margin: 0rem auto 0rem 42.5rem;
    }


    #registration .content1 p {
        width: 83rem;
        margin: auto;
        font-size: 1.5rem;
        padding: 4.3rem 2.6rem;
    }



    #registration .Content2Title .font02 {
        width: 16.1rem;
        transform: translateX(-42rem);
    }
    #registration .content2 rt {
        letter-spacing: -4.5rem;
        padding-left: 3rem;
        font-size: 2.5rem;
    }
    #registration .content2 h3 {
        font-size: 3.7rem;
        width: 81.1rem;
        margin: 2.2rem auto;
    }
    #registration .Content2Title {
        margin: 8rem auto 2rem;
    }
    #registration .Content2Title h2 {
        font-weight: bold;
        font-family: Helvetica Neue;
        font-size: 7.6rem;
        margin: 0rem auto 0rem 42.5rem;
        line-height: 1;
    }
    #registration .content2 p {
        width: 83rem;
        margin: auto;
        font-size: 1.5rem;
        padding: 4.3rem 2.6rem;
    }




    #registration .Content3Title .font03 {
        width: 16.1rem;
        top: 0;
        transform: translateX(-42rem);
    }
    #registration .content3 rt {
        letter-spacing: -8.5rem;
        padding-left: 7rem;
        font-size: 2.5rem;
    }
    #registration .content3 h3 {
        font-size: 3.7rem;
        width: 81.1rem;
        margin: 2.2rem auto;
    }
    #registration .Content3Title {
        margin: 8rem auto 3rem;
    }
    #registration .Content3Title h2 {
        font-weight: bold;
        font-family: Helvetica Neue;
        font-size: 7.6rem;
        margin: 0rem auto 0rem 42.5rem;
        line-height: 1;
    }
    #registration .content3 p {
        width: 83rem;
        margin: 0 auto 9rem;
        font-size: 1.5rem;
        padding: 4.3rem 2.6rem;
    }



    #registration .terms {
        padding: 8.3rem 0;
    }

    #registration .terms p {
        font-size: 7rem;
    }

    #registration .terms span {
        font-size: 4rem;
    }

    #registration .register {
        padding: 8.3rem 0.5rem;
    }

    #registration .register p {
        font-size: 7rem;
    }

    #registration .register span {
        font-size: 4rem;
    }

    /*sakurako-media*/
    #media .mySectionInner {

    }
    #media .flower {
        width: 15.6rem;
        top: -1rem;
        transform: translateX(-30rem);
    }
    #media h1 {

        font-size: 8.1rem;
        width: 41.4rem;
        line-height: 0.9;
        border-bottom: 1rem solid #FF0096;
        transform: translateY(12%);
    }
    #media .mySectionTitle {
        margin-top: 8rem;
    }
    #media h2 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }
    #media .mediaBack img {
        width: 66.6rem;
        transform: translate(45%, 173%);
    }

    #media .mediaTitle {
        font-size: 6rem;
        padding: 3.4rem 0 1rem 0;
        border-bottom: 1rem solid #FF0096;
        width: 29.2rem;
    }

    #media .mediaContents {
        margin-top: 4rem;
        letter-spacing: 0.3rem;
    }
    #media .newsPaper {
        display: flex;
        border-top: 0.2rem solid #FF0096;
    }
    #media .newsPaper p {
        font-size: 1.5rem;
        width: 46.6rem;
        line-height: 2;
        margin: 2rem auto 1rem 5.5rem;
    }
    #media .newsPaper h3 {
        width: 50%;
        font-size: 2.5rem;
        padding: 7.1rem 23rem;
        border: none;
    }


    #media .online {
        display: flex;
        border-top: 0.2rem solid #FF0096;
    }
    #media .online p {
        font-size: 1.5rem;
        width: 46.6rem;
        line-height: 2;
        margin: 2rem auto 1rem 5.5rem;
    }
    #media .online h3 {
        width: 50%;
        font-size: 2.5rem;
        padding: 11.1rem 23rem;
        border: none;
    }



    #media .magazine {
        display: flex;
        border-top: 0.2rem solid #FF0096;
    }
    #media .magazine p {
        font-size: 1.5rem;
        width: 46.6rem;
        line-height: 2;
        margin: 2rem auto 1rem 5.5rem;
    }
    #media .magazine h3 {
        width: 50%;
        font-size: 2.5rem;
        padding: 8.1rem 23rem;
        border: none;
    }


    #media .tvRadio {
        display: flex;
        border-bottom: 0.2rem solid #FF0096;
        border-top: 0.2rem solid #FF0096;
    }
    #media .tvRadio p {
        font-size: 1.5rem;
        width: 46.6rem;
        line-height: 2;
        margin: 2rem auto 1rem 5.5rem;
    }
    #media .tvRadio h3 {
        width: 50%;
        font-size: 2.5rem;
        padding: 5rem 22rem;
        /* padding-top: 5rem; */
        border: none;
    }

    #media .rose {
        width: 64rem;
        margin: 3.2rem auto;
    }


    /*sakurako-news*/
    #press .flower {
        width: 15.6rem;
        top: -1rem;
        transform: translateX(-30rem);
    }
    #press h1 {

        font-size: 8.1rem;
        width: 41.4rem;
        line-height: 0.9;
        border-bottom: 1rem solid #FF0096;
        transform: translateY(12%);
    }
    #press .mySectionTitle {
        margin-top: 8rem;
    }
    #press h2 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }
    #press .contentNews {
        padding-top: 2.7rem;
        padding-bottom: 2.7rem;
        margin-top: 6rem;
    }
    #press .newsContents h3 {
        font-size: 2rem;
        width: 38rem;
        margin: 4.5rem auto 2.9rem;
    }
    #press .newsTitle h2 {
        font-size: 4rem;
        padding: 0.6rem;
        width: 17.3rem;
    }
    #press .newsContents p {
        font-size: 1.3rem;
        width: 30.2rem;
    }
    #press .newsMore {
        margin: 3rem;
        font-size: 1.6rem;
    }

    #news .mySectionInner {
        position: relative;

    }
    #press .contentContact {
        margin-top: 6rem;
    }
    #press .contactTitle h2 {
        font-size: 4rem;
        padding: 0.7rem;
        width: 23.3rem;
    }
    #press .contactButton {
        width: 41.6rem;
        font-size: 1.8rem;
        padding: 3.9rem 2.2rem;
        margin: 4.3rem auto 3.8rem;
        border: 2px solid #FF0096;
    }


    /*footer*/
    footer {
        min-height: 52rem;
        margin-top: 10rem;
    }

    .footerLogo {
        width: 19.8rem;
        padding-top: 3rem;
    }

    .footerSns {
        margin: 4rem 0rem 3rem 37rem;
        width: 60rem;
    }

    .footerSns img {
        width: 8.8rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .footerSns a:nth-child(4) {
        padding-top: 1rem;
    }

    .footerMenu {
        font-size: 3rem;
    }

    .top {
        font-size: 3rem;
    }

    .footerMenu1 {
        padding: 1rem 35rem 0rem 35rem;
    }

    .footerMenu2 {
        padding: 0 30rem;
    }

    .member {
        width: 80%;
    }

    .press {
        width: 80%;
    }

    .blog {
        width: 62%;
    }

    .copyRight {
        margin-top: 3rem;
        font-size: 2rem;
    }

}


@media screen and (min-width: 1024px) {
    /*デザイン*/
    .inner {
        padding: 0 80px;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    /*デザイン*/
    .inner {
        padding: 0 160px;
    }

}
